apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: traq-frontend
  name: traq-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traq-frontend
  template:
    metadata:
      labels:
        app: traq-frontend
    spec:
      nodeSelector:
        kubernetes.io/hostname: c1-203.tokyotech.org
      containers:
        - image: ghcr.io/traptitech/traq-ui:3.30.0
          name: traq-frontend
          ports:
            - containerPort: 80
              protocol: TCP
          env:
            - name: NEW_RELIC_LICENSE_KEY
              value: "NRJS-5c70f08b45082feb140"
            - name: NEW_RELIC_ACCOUNT_ID
              value: "6862108"
            - name: NEW_RELIC_TRUST_KEY
              value: "6862108"
            - name: NEW_RELIC_APPLICATION_ID
              value: "1120420953"
            - name: NEW_RELIC_AGENT_ID
              value: "1120420953"
      restartPolicy: Always
