alloy:
  configMap:
    # https://grafana.com/docs/alloy/latest/collect/logs-in-kubernetes/
    content: |
      // loki.source.kubernetes_events tails events from the Kubernetes API and converts them
      // into log lines to forward to other Loki components.
      loki.source.kubernetes_events "cluster_events" {
        job_name   = "integrations/kubernetes/eventhandler"
        log_format = "logfmt"
        forward_to = [
          loki.process.cluster_events.receiver,
        ]
      }

      // loki.process receives log entries from other loki components, applies one or more processing stages,
      // and forwards the results to the list of receivers in the component's arguments.
      loki.process "cluster_events" {
        stage.static_labels {
          values = {
            cluster = "trap-cluster",
            job = "k8s-events",
          }
        }

        stage.logfmt {
          mapping = {
            type = "",
            node = "reportinginstance",
          }
        }

        stage.labels {
          values = {
            type = "",
            node = "",
          }
        }

        forward_to = [loki.write.in_cluster.receiver]
      }

      loki.write "in_cluster" {
        endpoint {
          url = "http://loki.monitor.svc.cluster.local:3100/loki/api/v1/push"
        }
      }

      discovery.kubernetes "all_pods" {
        role = "pod"
      }

      discovery.relabel "pyroscope_target" {
        targets = discovery.kubernetes.all_pods.targets

        rule {
          source_labels = ["__meta_kubernetes_pod_label_pyroscope_io_scrape"]
          regex = "true"
          action = "keep"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_ip", "__meta_kubernetes_pod_label_pyroscope_io_port"]
          separator     = ":"
          regex         = "(.*):(.*)"
          target_label  = "__address__"
          replacement   = "${1}:${2}"
        }

        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          target_label  = "namespace"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          target_label  = "pod"
        }
        rule {
          source_labels = ["__meta_kubernetes_pod_label_app"]
          target_label = "service_name"
        }
      }

      pyroscope.scrape "apps" {
        targets = discovery.relabel.pyroscope_target.output
        forward_to = [pyroscope.write.backend.receiver]
        profiling_config {
          profile.process_cpu { enabled = true }
          profile.memory { enabled = true }
        }
      }

      pyroscope.write "backend" {
        endpoint {
          url = "http://monitor.pyroscope:4040"
        }
      }

crds:
  create: false

image:
  pullPolicy: Always

controller:
  type: deployment
  volumes:
    extra:
      - name: sa
        secret:
          secretName: sa
