apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-ui-staging
  labels:
    sablier.enable: "true"
    sablier.group: preview-traq-staging

spec:
  # replicas: 1 # Autoscale by sablier
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: traq-ui-staging
  template:
    metadata:
      labels:
        app: traq-ui-staging
    spec:
      enableServiceLinks: false

      containers:
        - name: traq-ui
          image: ghcr.io/traptitech/traq-ui:master@sha256:88f196dfb009eacc06182d5e7029b4bd45823da0b90b254213459ce2f58b6249
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: http
