mode: dev-and-prod

repo:
  owner: traPtitech
  repo: traQ_S-UI

webhook:
  name: traq-preview

tls:
  secretName: preview-traq-tls

host:
  base: traq-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/traq-ui:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/api`) || PathPrefix(`/.well-known`)
  service:
    kind: Service
    namespace: 'traq{{ if eq . "dev" }}-dev{{ end }}'
    name: traq-backend
    port: 8001
    scheme: http
    strategy: RoundRobin
    weight: 1

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/traq-ui:master@sha256:2325569436fed6668bf4861db10280a709f049bd5eedab02df362e372a6db2ab"

otherParameters:
  port: 80
