mode: dev-and-prod

repo:
  owner: traPtitech
  repo: traQ_S-UI

webhook:
  name: traq-preview

tls:
  secretName: preview-traq-tls

host:
  base: traq-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/traq-ui:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/api`) || PathPrefix(`/.well-known`)
  service:
    kind: Service
    namespace: 'traq{{ if eq . "dev" }}-dev{{ end }}'
    name: traq-backend
    port: 8001
    scheme: http
    weight: 1

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/traq-ui:master@sha256:791235bb4e2ddb8bef2397bbffa6d3817041758c1d76e45d2e23bd1568eccf19"

otherParameters:
  port: 80
