:80 {
    root * /usr/share/caddy
    file_server
    templates

    handle /404 {
        rewrite index.html
        request_header X-traP-Error-Title "Not Found - traP"
        request_header X-traP-Error-Header "Not Found!"
        request_header X-traP-Error-Reason "The page you're looking for doesn't seem to exist."
        request_header X-traP-Error-Reason-Detail "お探しのページは存在しないようです。"
    }
    handle /502 {
        rewrite index.html
        request_header X-traP-Error-Title "Bad Gateway - traP"
        request_header X-traP-Error-Header "Bad Gateway"
        request_header X-traP-Error-Reason "Sorry! This service is currently unreachable."
        request_header X-traP-Error-Reason-Detail "Please contact the system administrators for details."
    }
    handle /503 {
        rewrite index.html
        request_header X-traP-Error-Title "Service Unavailable - traP"
        request_header X-traP-Error-Header "Service Unavailable"
        request_header X-traP-Error-Reason "Sorry! This service is currently unavailable."
        request_header X-traP-Error-Reason-Detail "Please contact the system administrators for details."
    }

    handle /favicon.svg {
        rewrite favicon.svg
    }
    handle {
        respond 404
    }
}
