apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter

spec:
  template:
    spec:
      enableServiceLinks: false
      nodeSelector:
        kubernetes.io/hostname: sce311.tokyotech.org
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - sce311.tokyotech.org
              weight: 1
      tolerations:
        - key: ns.trap.jp/monitor-node
          operator: Equal
          value: "true"
          effect: NoSchedule
