apiVersion: apps/v1
kind: Deployment
metadata:
  name: jomon-dev-backend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: jomon-dev-backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jomon-dev-backend
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - eee101.tokyotech.org
              weight: 1

      containers:
        - name: jomon-dev-backend
          image: ghcr.io/traptitech/jomon-v2:latest@sha256:064046378e376b933db38cb19dd9d4b3eed6e7fd5e23495ccf57dd3a6bdf25da
          imagePullPolicy: Always
          ports:
            - containerPort: 1323
              name: http
          env:
            - name: PORT
              value: "1323"
            - name: HOST
              value: "jomon-dev.trapti.tech"
            - name: UPLOAD_DIR
              value: "./uploads"
            - name: SESSION_KEY
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: SESSION_KEY
            - name: TRAQ_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: TRAQ_CLIENT_ID
            - name: WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: WEBHOOK_SECRET
            - name: WEBHOOK_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: WEBHOOK_CHANNEL_ID
            - name: WEBHOOK_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: WEBHOOK_ID
            - name: MARIADB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: MARIADB_USERNAME
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: MARIADB_PASSWORD
            - name: MARIADB_HOSTNAME
              value: "tailscale.kmbk.tokyotech.org"
            - name: MARIADB_PORT
              value: "33060"
            - name: MARIADB_DATABASE
              value: "service_jomon_dev"
            - name: OS_CONTAINER
              value: "jomon-dev"
            - name: OS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: OS_USERNAME
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: OS_PASSWORD
            - name: OS_TENANT_NAME
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: OS_TENANT_NAME
            - name: OS_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-dev-secret
                  key: OS_TENANT_ID
            - name: OS_AUTH_URL
              value: "https://identity.tyo1.conoha.io/v2.0"
