apiVersion: apps/v1
kind: Deployment
metadata:
  name: jomon
spec:
  template:
    spec:
      containers:
        - name: jomon
          image: ghcr.io/traptitech/jomon:latest
          env:
            - name: PORT
              value: "1323"
            - name: HOST
              value: "jomon-dev.trapti.tech"
            - name: UPLOAD_DIR
              value: "./uploads"
            - name: SESSION_KEY
              value: "session"
            - name: TRAQ_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: TRAQ_CLIENT_ID
            - name: WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_SECRET
            - name: WEBHOOK_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_CHANNEL_ID
            - name: WEBHOOK_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_ID
            - name: MARIADB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: MARIADB_USERNAME
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: MARIADB_PASSWORD
            - name: MARIADB_HOSTNAME
              value: "tailscale.kmbk.tokyotech.org"
            - name: MARIADB_DATABASE
              value: "service_jomon_dev"
            - name: MARIADB_PORT
              value: "33060"
            - name: OS_CONTAINER
              value: "jomon-dev"
            - name: OS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_USERNAME
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_PASSWORD
            - name: OS_TENANT_NAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_TENANT_NAME
            - name: OS_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_TENANT_ID
            - name: OS_AUTH_URL
              value: "https://identity.tyo1.conoha.io/v2.0"
