apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: application-set
  namespace: argocd

# https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Generators-Pull-Request/
spec:
  generators:
    - list:
        elements:
          - path: argo
          - path: argocd
          - path: auth
          - path: backup
          - path: cert-manager
          - path: crowi
          - path: dev-ops-bot
          - path: harbor
          - path: monitor
          - path: ns-apps
          - path: ns-system
          - path: preview-ns
          - path: preview-traq
          - path: promtail
          - path: system-upgrade
          - path: traefik
          - path: traq
  template:
    metadata:
      name: '{{path}}'
    spec:
      destination:
        namespace: '{{path}}'
        server: https://kubernetes.default.svc
      project: default
      source:
        repoURL: git@github.com:traPtitech/manifest.git
        path: '{{path}}'
        targetRevision: main
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: true
          selfHeal: true
