apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - repo: oci://ghcr.io/traptitech/charts
    name: neoshowcase
    version: 1.10.8
    includeCRDs: true
    namespace: ns-dev-system
    releaseName: ns
    valuesFile: values.yaml

resources:
  - db
  - app-namespace.yaml
  - certificate.yaml

generators:
  - ksops.yaml
