apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - repo: oci://ghcr.io/traptitech/charts
    name: neoshowcase
    version: 1.10.10
    includeCRDs: true
    namespace: ns-dev-system
    releaseName: ns
    valuesFile: values.yaml

resources:
  - db
  - app-namespace.yaml
  - certificate.yaml
  - crb.yml

patches:
  - path: patches/sablier-cr.yaml
    target:
      kind: ClusterRole
      name: ns-sablier
  - path: patches/controller-cr.yaml
    target:
      kind: ClusterRole
      name: ns-controller
  - path: patches/sablier-crb.yaml
    target:
      kind: ClusterRoleBinding
      name: ns-sablier
  - path: patches/controller-crb.yaml
    target:
      kind: ClusterRoleBinding
      name: ns-controller

generators:
  - ksops.yaml
