resources:
  - ../ns-system
  - app-namespace.yaml
  - components/controller-cluster-role-binding.yaml
  - components/sablier-cluster-role-binding.yaml

patches:
  - path: components/builder-deployment-patch.yaml
  - path: components/certificate-patch.yaml
  - path: components/controller-cluster-role-global-binding-patch.yaml
  - path: components/controller-cluster-role-local-binding-patch.yaml
  - path: components/controller-cluster-role-global-patch.yaml
  - path: components/controller-cluster-role-local-patch.yaml
  - path: components/controller-ssh-service-patch.yaml
  - path: components/controller-deployment-patch.yaml
  - path: components/dashboard-deployment-patch.yaml
  - path: components/gateway-deployment-patch.yaml
  - path: components/gitea-integration-stateful-set-patch.yaml
  - path: components/gitea-integration-service.yaml
  - path: components/ingress-route-patch.yaml
  - path: components/migrate-job-patch.yaml
  - path: components/sablier-cluster-role-binding-patch.yaml
  - path: components/sablier-cluster-role-patch.yaml
  - path: components/sablier-deployment-patch.yaml
  - path: components/ssgen-stateful-set-patch.yaml
  - path: db/adminer-certificate-patch.yaml
  - path: db/adminer-deployment-patch.yaml
  - path: db/adminer-ingress-route-patch.yaml
  - path: db/mariadb-stateful-set-patch.yaml
  - path: db/mongo-stateful-set-patch.yaml
  - path: app-namespace-patch.yaml
  - path: backup/mariadb-backup-cron-workflow-patch.yaml
  - path: backup/mariadb-backup-workflow-template-patch.yaml
  - path: backup/mongodb-backup-cron-workflow-patch.yaml
  - path: backup/mongodb-backup-workflow-template-patch.yaml

configMapGenerator:
  - name: ns-config
    files:
      - config/ns.yaml
    behavior: replace

generators:
  - ksops.yaml

images:
  - name: ns-builder-dev
    newName: ghcr.io/traptitech/ns-builder
    newTag: main@sha256:7ab5357c660a815ed9f322772271ed8cc57053fb50e9a6672065dd5fe28039ac
  - name: ns-controller-dev
    newName: ghcr.io/traptitech/ns-controller
    newTag: main@sha256:6a48f575f3970a9f386f765348e9f35aed7224a4d26733a28cc750d210d33256
  - name: ns-dashboard-dev
    newName: ghcr.io/traptitech/ns-dashboard
    newTag: main@sha256:9281fa66d7fb0388f3f2bb5dbb66e32ea50429e0275efbe62562578fa6bd79f7
  - name: ns-gateway-dev
    newName: ghcr.io/traptitech/ns-gateway
    newTag: main@sha256:f3ea1158f84005887307c51ba47c12bff3e7d435cd4de9a22bb6751cbc46434e
  - name: ns-gitea-integration-dev
    newName: ghcr.io/traptitech/ns-gitea-integration
    newTag: main@sha256:ff9dd349aa5843ea585f2611334bb1719999fedd6e3904245d877ddae0278add
  - name: ns-migrate-dev
    newName: ghcr.io/traptitech/ns-migrate
    newTag: main@sha256:419c58d41f6e7e2f674527bca2d1cb536e44334e9862fdaba5e6cc7b8896fcd5
  - name: ns-ssgen-dev
    newName: ghcr.io/traptitech/ns-ssgen
    newTag: main@sha256:209af88fa252318919575824bd16730269eec2b50a9b8e12dad339bd8d7ed395
  - name: ns-sablier-dev
    newName: ghcr.io/traptitech/ns-sablier
    newTag: main@sha256:ceaf57af5579733b7073a1e962efb6fac92bb36eaf5fc7564b55c0ff8c290f91
