resources:
  - ../ns-system
  - app-namespace.yaml
  - components/controller-cluster-role-binding.yaml
  - components/sablier-cluster-role-binding.yaml

patches:
  - path: components/builder-deployment-patch.yaml
  - path: components/certificate-patch.yaml
  - path: components/controller-cluster-role-global-binding-patch.yaml
  - path: components/controller-cluster-role-local-binding-patch.yaml
  - path: components/controller-cluster-role-global-patch.yaml
  - path: components/controller-cluster-role-local-patch.yaml
  - path: components/controller-ssh-service-patch.yaml
  - path: components/controller-deployment-patch.yaml
  - path: components/dashboard-deployment-patch.yaml
  - path: components/gateway-deployment-patch.yaml
  - path: components/gitea-integration-stateful-set-patch.yaml
  - path: components/gitea-integration-service.yaml
  - path: components/ingress-route-patch.yaml
  - path: components/migrate-job-patch.yaml
  - path: components/sablier-cluster-role-binding-patch.yaml
  - path: components/sablier-cluster-role-patch.yaml
  - path: components/sablier-deployment-patch.yaml
  - path: components/ssgen-stateful-set-patch.yaml
  - path: db/adminer-certificate-patch.yaml
  - path: db/adminer-deployment-patch.yaml
  - path: db/adminer-ingress-route-patch.yaml
  - path: db/mariadb-stateful-set-patch.yaml
  - path: db/mongo-stateful-set-patch.yaml
  - path: app-namespace-patch.yaml
  - path: backup/mariadb-backup-cron-workflow-patch.yaml
  - path: backup/mariadb-backup-workflow-template-patch.yaml
  - path: backup/mongodb-backup-cron-workflow-patch.yaml
  - path: backup/mongodb-backup-workflow-template-patch.yaml

configMapGenerator:
  - name: ns-config
    files:
      - config/ns.yaml
    behavior: replace

generators:
  - ksops.yaml

images:
  - name: ns-builder-dev
    newName: ghcr.io/traptitech/ns-builder
    newTag: main@sha256:02678664e205a12169ecdad701bca1249f2f59fb3ffe32c7ee074af38afd3a7c
  - name: ns-controller-dev
    newName: ghcr.io/traptitech/ns-controller
    newTag: main@sha256:06c48d7a468e3559c7d4273c71b35a184794f1f25fa98d2a39df4eb8580509fa
  - name: ns-dashboard-dev
    newName: ghcr.io/traptitech/ns-dashboard
    newTag: main@sha256:86e9a6bd8bda896ad15f79619bd66364b0096c443711b50f7f2f64ee021cf6cc
  - name: ns-gateway-dev
    newName: ghcr.io/traptitech/ns-gateway
    newTag: main@sha256:d286997c0efcee5362519e26c2826487eaf68fa6f6c3313f9810e6b2a8414240
  - name: ns-gitea-integration-dev
    newName: ghcr.io/traptitech/ns-gitea-integration
    newTag: main@sha256:dd5ebc767e99fcd08fa22fb851d8c8e304389d09fc32c5c3aed7515a0b8083c4
  - name: ns-migrate-dev
    newName: ghcr.io/traptitech/ns-migrate
    newTag: main@sha256:41f5d188c5582dc1b44ea5c5402bb8898bf2b940b41c73c7bb57f93e27e07cd9
  - name: ns-ssgen-dev
    newName: ghcr.io/traptitech/ns-ssgen
    newTag: main@sha256:d0827c36b2e4dcfd9f4f9cab9111179310a5e788a8146d1a3ca88c6c030dab8c
  - name: ns-sablier-dev
    newName: ghcr.io/traptitech/ns-sablier
    newTag: main@sha256:37789a07135a24bd2ca87ebae832243c2eb50434cfedfd6d06ef7ae09ec7e084
