resources:
  - ../ns-system
  - app-namespace.yaml
  - components/controller-cluster-role-binding.yaml
  - components/sablier-cluster-role-binding.yaml

patches:
  - path: components/builder-deployment-patch.yaml
  - path: components/certificate-patch.yaml
  - path: components/controller-cluster-role-global-binding-patch.yaml
  - path: components/controller-cluster-role-local-binding-patch.yaml
  - path: components/controller-cluster-role-global-patch.yaml
  - path: components/controller-cluster-role-local-patch.yaml
  - path: components/controller-ssh-service-patch.yaml
  - path: components/controller-deployment-patch.yaml
  - path: components/dashboard-deployment-patch.yaml
  - path: components/gateway-deployment-patch.yaml
  - path: components/gitea-integration-stateful-set-patch.yaml
  - path: components/gitea-integration-service.yaml
  - path: components/ingress-route-patch.yaml
  - path: components/migrate-job-patch.yaml
  - path: components/sablier-cluster-role-binding-patch.yaml
  - path: components/sablier-cluster-role-patch.yaml
  - path: components/sablier-deployment-patch.yaml
  - path: components/ssgen-stateful-set-patch.yaml
  - path: db/adminer-certificate-patch.yaml
  - path: db/adminer-deployment-patch.yaml
  - path: db/adminer-ingress-route-patch.yaml
  - path: db/mariadb-stateful-set-patch.yaml
  - path: db/mongo-stateful-set-patch.yaml
  - path: app-namespace-patch.yaml
  - path: backup/mariadb-backup-cron-workflow-patch.yaml
  - path: backup/mariadb-backup-workflow-template-patch.yaml
  - path: backup/mongodb-backup-cron-workflow-patch.yaml
  - path: backup/mongodb-backup-workflow-template-patch.yaml

configMapGenerator:
  - name: ns-config
    files:
      - config/ns.yaml
    behavior: replace

generators:
  - ksops.yaml

images:
  - name: ns-builder-dev
    newName: ghcr.io/traptitech/ns-builder
    newTag: main@sha256:3c77c27b431d655b1f76bbe87edd05acbd78bef750fc4638d11e7d2e65e32c62
  - name: ns-controller-dev
    newName: ghcr.io/traptitech/ns-controller
    newTag: main@sha256:85515418157ad2b688dd4ee48998156c34c25837aa8a1a6c0479c269f7e248ee
  - name: ns-dashboard-dev
    newName: ghcr.io/traptitech/ns-dashboard
    newTag: main@sha256:e36cd7fbd6f1717b3c2bbfd12b1a8c518f4c656a9f21ef63b65a4a73528db5bd
  - name: ns-gateway-dev
    newName: ghcr.io/traptitech/ns-gateway
    newTag: main@sha256:cdc2e90567ded61209cde7d2f9cc93165cbc2fd6a7a5ae4c208eeef81f626c7b
  - name: ns-gitea-integration-dev
    newName: ghcr.io/traptitech/ns-gitea-integration
    newTag: main@sha256:6ba150915d5cb25bd970b1b15182100996b23648ef78a9f1488234d5cbe2fd97
  - name: ns-migrate-dev
    newName: ghcr.io/traptitech/ns-migrate
    newTag: main@sha256:6c02c9cfb6367b2eadba9409efdb1f64e039fa604bfb4376c13b31eccad2b04a
  - name: ns-ssgen-dev
    newName: ghcr.io/traptitech/ns-ssgen
    newTag: main@sha256:6e76d72d9097d8c1966a4d76c4920587efae759b298b81f3629345ffdf3cd44b
  - name: ns-sablier-dev
    newName: ghcr.io/traptitech/ns-sablier
    newTag: main@sha256:ef181c3c78a7a790006af22c18c4f6c993d3aecbf93a55297aabae503c0aadad
