resources:
  - ../ns-system
  - app-namespace.yaml
  - components/controller-cluster-role-binding.yaml
  - components/sablier-cluster-role-binding.yaml

patches:
  - path: components/builder-deployment-patch.yaml
  - path: components/certificate-patch.yaml
  - path: components/controller-cluster-role-global-binding-patch.yaml
  - path: components/controller-cluster-role-local-binding-patch.yaml
  - path: components/controller-cluster-role-global-patch.yaml
  - path: components/controller-cluster-role-local-patch.yaml
  - path: components/controller-ssh-service-patch.yaml
  - path: components/controller-deployment-patch.yaml
  - path: components/dashboard-deployment-patch.yaml
  - path: components/gateway-deployment-patch.yaml
  - path: components/gitea-integration-stateful-set-patch.yaml
  - path: components/gitea-integration-service.yaml
  - path: components/ingress-route-patch.yaml
  - path: components/migrate-job-patch.yaml
  - path: components/sablier-cluster-role-binding-patch.yaml
  - path: components/sablier-cluster-role-patch.yaml
  - path: components/sablier-deployment-patch.yaml
  - path: components/ssgen-stateful-set-patch.yaml
  - path: db/adminer-certificate-patch.yaml
  - path: db/adminer-deployment-patch.yaml
  - path: db/adminer-ingress-route-patch.yaml
  - path: db/mariadb-stateful-set-patch.yaml
  - path: db/mongo-stateful-set-patch.yaml
  - path: app-namespace-patch.yaml
  - path: backup/mariadb-backup-cron-workflow-patch.yaml
  - path: backup/mariadb-backup-workflow-template-patch.yaml
  - path: backup/mongodb-backup-cron-workflow-patch.yaml
  - path: backup/mongodb-backup-workflow-template-patch.yaml

configMapGenerator:
  - name: ns-config
    files:
      - config/ns.yaml
    behavior: replace

generators:
  - ksops.yaml

images:
  - name: ns-builder-dev
    newName: ghcr.io/traptitech/ns-builder
    newTag: main@sha256:15b9fa17653cacfdbd29df3883bc1e3687ff5b5a3a9ce595711ccd68793147b7
  - name: ns-controller-dev
    newName: ghcr.io/traptitech/ns-controller
    newTag: main@sha256:7edb3650cf73c018c98d263cd4e9adf5d99640959af2e9dd52f58cd04f4b38a9
  - name: ns-dashboard-dev
    newName: ghcr.io/traptitech/ns-dashboard
    newTag: main@sha256:142e1fc33f8cbc9e5e3d88573303017d92f3d94f0e62339be577aba56359190b
  - name: ns-gateway-dev
    newName: ghcr.io/traptitech/ns-gateway
    newTag: main@sha256:8af813a225da1808d4f273d8542abb164facf17b57a83fc38fa1f115e0e83922
  - name: ns-gitea-integration-dev
    newName: ghcr.io/traptitech/ns-gitea-integration
    newTag: main@sha256:7f930d684f1bcc3cf6ba8fb49efbd1f66c3df1560166a21cf83771fc802a1b92
  - name: ns-migrate-dev
    newName: ghcr.io/traptitech/ns-migrate
    newTag: main@sha256:6c23900e36369e59681c504fff1f36e4c576cb5c402e56aa706bdb5c226c2d5a
  - name: ns-ssgen-dev
    newName: ghcr.io/traptitech/ns-ssgen
    newTag: main@sha256:cfcca3c0f6f43c1b7222141d06cb405254b4b1b9ed6abe24538cf4806d8e3601
  - name: ns-sablier-dev
    newName: ghcr.io/traptitech/ns-sablier
    newTag: main@sha256:cc01d820e701795210a5f8a8035863c8dcf7ec28c7583b6e2ed811f949a7ac9a
