apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}

data:
  config.yaml: |
    # secret: <env secret>
    log-level: info

    provider: oauth2

    auth-host: auth.{{ .Values.domain }}
    cookie-domains: {{ .Values.domain }}
    cookie-name: {{ .Values.cookieName }}
    # 2 weeks
    lifetime: 1209600
    info-fields:
      - name

    providers:
      oidc:
        # Only need the "openid" scope for now
        scopes: ""
        issuer-url: https://q.trap.jp
        client-id: {{ .Values.clientID }}
        # client-secret: <env secret>
        prompt: none

    rules:
      admin:
        action: auth
        route-rule: Header(`X-Forward-Auth-Type`, `admin`)
        auth-rule: In(`name`, `hijiki51`, `Takeno_hito`, `cp20`, `toki`)
      soft:
        action: soft-auth
        route-rule: Header(`X-Forward-Auth-Type`, `soft`)
      force-login:
        action: login
        route-rule: Header(`X-Forward-Auth-Type`, `soft`) && PathPrefix(`/_oauth/login`)
      force-logout:
        action: logout
        route-rule: Header(`X-Forward-Auth-Type`, `soft`) && PathPrefix(`/_oauth/logout`)
      hard:
        action: auth
        route-rule: Header(`X-Forward-Auth-Type`, `hard`)

    headers:
      {{- range $i, $h := .Values.headers }}
      h-{{ $i }}:
        name: {{ $h.name }}
        source: {{ $h.source }}
      {{- end }}
