apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: catch-all-trap-jp

spec:
  entryPoints:
    - websecure
  tls:
    secretName: trap-jp-tls
  routes:
    - kind: Rule
      match: HostRegexp(`{sub:(.*\.)?}trap.jp`)
      priority: 1
      middlewares:
        - name: errors-404
      services:
        - kind: Service
          namespace: traefik
          name: custom-errors
          port: http
          scheme: http
          strategy: RoundRobin
          weight: 1
