apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: catch-all-trap-games

spec:
  entryPoints:
    - websecure
  tls:
    secretName: trap-games-tls
  routes:
    - kind: Rule
      match: HostRegexp(`^(.+\.)?trap.games$`)
      priority: -10000
      middlewares:
        - name: errors-404@file
      services:
        - kind: Service
          namespace: traefik
          name: custom-errors
          port: http
          scheme: http
          weight: 1
