apiVersion: apps/v1
kind: Deployment
metadata:
  name: jomon
  labels:
    app.kubernetes.io/name: jomon
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: jomon
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jomon
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - las211.tokyotech.org
              weight: 1

      containers:
        - name: jomon
          image: ghcr.io/traptitech/jomon:6b62e23d31ac28d28246ac16031877955c7ab601
          imagePullPolicy: Always
          ports:
            - containerPort: 1323
              name: http
          env:
            - name: PORT
              value: "1323"
            - name: HOST
              value: "jomon.trap.jp"
            - name: MARIADB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: MARIADB_USERNAME
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: MARIADB_PASSWORD
            - name: MARIADB_HOSTNAME
              value: "tailscale.kmbk.tokyotech.org:3306"
            - name: MARIADB_DATABASE
              value: "service_jomon"
            - name: OS_CONTAINER
              value: "jomon"
            - name: OS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_USERNAME
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_PASSWORD
            - name: OS_TENANT_NAME
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_TENANT_NAME
            - name: OS_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: OS_TENANT_ID
            - name: OS_AUTH_URL
              value: "https://identity.tyo1.conoha.io/v2.0"
            - name: TRAQ_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: TRAQ_CLIENT_ID
            - name: WEBHOOK_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_ID
            - name: WEBHOOK_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_CHANNEL_ID
            - name: WEBHOOK_SECRET
              valueFrom:
                secretKeyRef:
                  name: jomon-secret
                  key: WEBHOOK_SECRET
