# config.ymlの中身
#   modules:
#     http_check:
#       prober: http
#       http:
#         headers:
#           Cookie: traP_token=<encrypted>
#         preferred_ip_protocol: ipv4 # for docker
#     icmp:
#       prober: icmp
#       timeout: 5s
#       icmp:
#         preferred_ip_protocol: ipv4
apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: blackbox-exporter
  template:
    metadata:
      labels:
        app: blackbox-exporter
    spec:
      enableServiceLinks: false
      nodeSelector:
        kubernetes.io/hostname: libra.tokyotech.org
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - libra.tokyotech.org
              weight: 1
      tolerations:
        - key: monitor-node
          operator: Equal
          value: "true"
          effect: NoSchedule

      volumes:
        - name: config
          secret:
            secretName: blackbox-exporter

      containers:
        - name: blackbox-exporter
          image: prom/blackbox-exporter:v0.28.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9115
          volumeMounts:
            - mountPath: /etc/blackbox_exporter/config.yml
              name: config
              subPath: config.yml

          resources:
            requests:
              cpu: "10m"
              memory: "20Mi"
            limits:
              cpu: "100m"
              memory: "50Mi"
