apiVersion: apps/v1
kind: Deployment
metadata:
  name: emoine-deployment
  labels:
    app: emoine
spec:
  selector:
    matchLabels:
      app: emoine
  template:
    metadata:
      labels:
        app: emoine
    spec:
      nodeSelector:
        kubernetes.io/hostname: las211.tokyotech.org
      containers:
        - name: emoine
          image: ghcr.io/traptitech/emoine:latest@sha256:29d52cd47288ef0721b4ef420f8bad785ee4eb3b071ee1ba2c609d30a6dd9eba
          args: ["./Emoine"]
          ports:
            - containerPort: 80
          env:
            - name: ADMINS
              value: "5fcbfabc-0af8-4cbd-971a-ad0d07293856,01960f59-bd05-7ef3-b952-6a87fd3fa814,01960f5b-0ea0-7eff-8e4e-0971072365cd,01960f61-1b06-7f1b-8e12-831877454856,01963d57-a676-7b32-952f-e8120db79e95,019647c6-9e70-7bf8-83b4-2d94294062ea,0196589a-cc5e-7565-9dd1-8b038f3c28d5,b25f148c-bd3f-459a-9b38-e04327a511d6"
            - name: MYSQL_DATABASE
              value: "service_emoine"
            - name: "MYSQL_USERNAME"
              value: "service_emoine"
            - name: "MYSQL_HOSTNAME"
              value: "tailscale.kmbk.tokyotech.org"
            - name: "MYSQL_PORT"
              value: "3306"
          envFrom:
            - secretRef:
                name: emoine-secret
