apiVersion: apps/v1
kind: Deployment
metadata:
  name: s3-exporter

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: s3-exporter
  template:
    metadata:
      labels:
        app: s3-exporter
    spec:
      enableServiceLinks: false
      nodeSelector:
        kubernetes.io/hostname: libra.tokyotech.org
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - libra.tokyotech.org
              weight: 1
      tolerations:
        - key: ns.trap.jp/monitor-node
          operator: Equal
          value: "true"
          effect: NoSchedule

      containers:
        - name: s3-exporter
          image: ghcr.io/traptitech/s3_exporter:0.5.2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9340
          env:
            - name: S3_EXPORTER_S3_ENDPOINT_URL
              value: "https://s3.ap-northeast-1.wasabisys.com"
            - name: S3_EXPORTER_S3_FORCE_PATH_STYLE
              value: "true"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-exporter
                  key: access-key
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-exporter
                  key: secret-key
            - name: AWS_REGION
              value: ap-northeast-1

          resources:
            requests:
              cpu: "10m"
              memory: "20Mi"
            limits:
              cpu: "100m"
              memory: "50Mi"
