apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana

spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: sce311.tokyotech.org
      tolerations:
        - key: ns.trap.jp/monitor-node
          operator: Equal
          value: "true"
          effect: NoSchedule
