http:
  middlewares:
    compress:
      compress:
        # Use includedContentTypes once https://github.com/traefik/traefik/issues/9229 is resolved?
        # Referred from https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
        excludedContentTypes:
          - audio/aac
          - audio/mpeg
          - audio/ogg
          - audio/opus
          - audio/wav
          - audio/wave
          - audio/webm
          - audio/x-pn-wav
          - audio/x-wav
          - image/avif
          - image/bmp
          - image/gif
          - image/jpeg
          - image/png
          - image/vnd.microsoft.icon
          - image/webp
          - font/woff
          - font/woff2
          - video/mpeg
          - video/mp4
          - video/ogg
          - video/webm
          - video/x-msvideo
          - application/gzip
          - application/octet-stream
          - application/ogg
          - application/pdf
          - application/x-bzip
          - application/x-bzip2
          - application/x-7z-compressed
          - application/zip

    # NOTE: page display order for 404
    # 1. Normal request goes to "custom-errors" service by catch-all route
    # 2. "custom-errors" service returns 404 status
    # 3. traefik "errors-404" middleware requests "custom-errors" service with "/404" path
    # 4. Error page is returned
    errors-404:
      errors:
        status:
          - "404"
        query: "/{status}"
        service: custom-errors
    errors-5xx:
      errors:
        status:
          - "502"
          - "503"
        query: "/{status}"
        service: custom-errors

  services:
    custom-errors:
      loadBalancer:
        servers:
          - url: http://custom-errors.traefik.svc.cluster.local
