log:
  level: INFO

api:
  dashboard: true

experimental:
  plugins:
    sablier:
      moduleName: "github.com/acouvreur/sablier"
      # renovate:general datasource=github-releases depName=acouvreur/sablier
      version: "v1.8.0"

ping:
  entryPoint: traefik

metrics:
  prometheus:
    entryPoint: metrics

providers:
  kubernetesCRD:
    allowCrossNamespace: true
    allowEmptyServices: true
  kubernetesIngress: {}
  file:
    filename: /traefik-core-config/static-file-provider.yaml
    # Also to avoid 'too many open files' error
    watch: false

entryPoints:
  web:
    address: :80/tcp
    http:
      # NOTE: cannot reference dynamic provider configurations (e.g. kubernetes crd provider) in static configuration
      middlewares:
        - compress@file
        - errors-5xx@file
    # NOTE: Setting HTTP request body read timeout from default of 60s to 300s,
    # since our bandwidth on ConoHa is slow (100Mbps).
    # This could affect long-lasting uploads like docker registry uploads.
    # https://doc.traefik.io/traefik/migration/v2/#v2112
    transport:
      respondingTimeouts:
        readTimeout: "300s"
  websecure:
    address: :443/tcp
    http:
      # NOTE: cannot reference dynamic provider configurations (e.g. kubernetes crd provider) in static configuration
      middlewares:
        - compress@file
        - errors-5xx@file
    http3: {}
    # NOTE: Setting HTTP request body read timeout from default of 60s to 300s,
    # since our bandwidth on ConoHa is slow (100Mbps).
    # This could affect long-lasting uploads like docker registry uploads.
    # https://doc.traefik.io/traefik/migration/v2/#v2112
    transport:
      respondingTimeouts:
        readTimeout: "300s"
  traefik:
    address: :8080/tcp
  metrics:
    address: :9100/tcp
