pyroscope:
  extraArgs:
    log.level: info
    config.expand-env: true
  extraEnvVars:
    S3_ACCESS_KEY_ID:
      valueFrom:
        secretKeyRef:
          name: s3-credentials
          key: s3-access-key
    S3_SECRET_ACCESS_KEY:
      valueFrom:
        secretKeyRef:
          name: s3-credentials
          key: s3-secret-key
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi
  config: |
    pyroscopedb:
      max-block-duration: 1h
    storage:
      backend: s3
      s3:
        endpoint: s3.ap-northeast-1.wasabisys.com
        region: ap-northeast-1
        bucket_name: trap-pyroscope
        access_key_id: ${S3_ACCESS_KEY_ID}
        secret_access_key: ${S3_SECRET_ACCESS_KEY}
    limits:
      compactor_blocks_retention_period: 14d

alloy:
  enabled: false
