pyroscope:
  extraArgs:
    config.expand-env: true
    storage.s3.secret-access-key: ${S3_SECRET_ACCESS_KEY}
    storage.s3.access-key-id: ${S3_ACCESS_KEY_ID}
  extraEnvVars:
    S3_ACCESS_KEY_ID:
      valueFrom:
        secretKeyRef:
          name: s3-credentials
          key: s3-access-key
    S3_SECRET_ACCESS_KEY:
      valueFrom:
        secretKeyRef:
          name: s3-credentials
          key: s3-secret-key
  config: |
    storage:
      backend: s3
      s3:
        endpoint: s3.ap-northeast-1.wasabisys.com
        region: ap-northeast-1
        bucket_name: trap-pyroscope
    limits:
      compactor_blocks_retention_period: 14d

alloy:
  enabled: false
