apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: portfolio-frontend
  name: portfolio-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio-frontend
  template:
    metadata:
      labels:
        app: portfolio-frontend
    spec:
      nodeSelector:
        kubernetes.io/hostname: eee101.tokyotech.org
      containers:
        - image: ghcr.io/traptitech/traportfolio-ui:main@sha256:d838f856adc6d23d30aabf145bb58c36ebd6dc8d2eb0feedfd19c0ee26223e14
          name: portfolio-frontend
          ports:
            - containerPort: 80
              protocol: TCP
      restartPolicy: Always
