apiVersion: apps/v1
kind: Deployment
metadata:
  name: poll-server
  labels:
    app: poll-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: poll-server
  strategy:
    type: Recreate
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: c1-203.tokyotech.org
      containers:
        - image: ghcr.io/traptitech/real-time-poll-server:v1.0.0-rc1
          name: poll-server
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            limits:
              cpu: "200m"
              memory: "500Mi"
            requests:
              cpu: "50m"
              memory: "50Mi"
      restartPolicy: Always
