resources:
  - ../../monitor/victoria-metrics
  - ./pvc.yaml
  - ./migrate-job.yaml

patches:
  - path: stateful-set-patch.yaml
    target:
      kind: StatefulSet
      name: victoria-metrics

configMapGenerator:
  - name: prometheus-config
    behavior: replace
    files:
      - config/prometheus.yml
