apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-deployment
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - name: traq-backend
          image: ghcr.io/traptitech/traq:master@sha256:a6f70ee620fb028b364aa278b227465c394d30d00130e5e9fc821848511c7b77
          args: ["serve", "--pprof"]
          env:
            - name: TRAQ_EXTERNALAUTH_TRAQ_CLIENTID
              valueFrom:
                secretKeyRef:
                  name: traq-config-secrets
                  key: externalAuth_traQ_clientId
            - name: TRAQ_EXTERNALAUTH_TRAQ_CLIENTSECRET
              valueFrom:
                secretKeyRef:
                  name: traq-config-secrets
                  key: externalAuth_traQ_clientSecret
            - name: TRAQ_ES_PASSWORD
              valueFrom: null
