apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: traq-dev-backend
  name: traq-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traq-dev-backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: traq-dev-backend
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org

      volumes:
        - name: config
          configMap:
            name: traq-dev-backend-config
        - name: keys
          secret:
            secretName: traq-dev-backend-secrets

      containers:
        - image: ghcr.io/traptitech/traq:master@sha256:b4863207893b4de580f86cef595b29f206a3502fabdbb6d832b1ea642d10c321
          args: ["serve", "--pprof"]
          name: traq-dev-backend
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /keys
              name: keys
              readOnly: true
            - mountPath: /app/config.yml
              name: config
              readOnly: true
              subPath: traq-dev-backend.yaml
          env:
            - name: TRAQ_MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: traq-dev-backend-config-secrets
                  key: mariadb_password
            - name: TRAQ_STORAGE_S3_ACCESSKEY
              valueFrom:
               secretKeyRef:
                  name: traq-dev-backend-config-secrets
                  key: storage_s3_accessKey
            - name: TRAQ_STORAGE_S3_SECRETKEY
              valueFrom:
               secretKeyRef:
                  name: traq-dev-backend-config-secrets
                  key: storage_s3_secretKey
            - name: TRAQ_SKYWAYSECRETKEY
              valueFrom:
                secretKeyRef:
                  name: traq-dev-backend-config-secrets
                  key: skywaysecretKey
            - name: TRAQ_EXTERNALAUTH_TRAQ_CLIENTSECRET
              valueFrom:
                secretKeyRef:
                  name: traq-dev-backend-config-secrets
                  key: externalAuth_traQ_clientSecret

      restartPolicy: Always
