apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-deployment
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - name: traq-backend
          image: ghcr.io/traptitech/traq:master@sha256:10d82fdb262e049d12fb19865d9d20a274ad1e5ab771b6a62acb148b7d52da4c
          env:
            - name: TRAQ_EXTERNALAUTH_TRAQ_CLIENTID
              valueFrom:
                secretKeyRef:
                  name: traq-config-secrets
                  key: externalAuth_traQ_clientId
            - name: TRAQ_EXTERNALAUTH_TRAQ_CLIENTSECRET
              valueFrom:
                secretKeyRef:
                  name: traq-config-secrets
                  key: externalAuth_traQ_clientSecret
            - name: TRAQ_ES_PASSWORD
              valueFrom: null
