apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-frontend
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - name: traq-frontend
          image: ghcr.io/traptitech/traq-ui:master@sha256:f24dde7b3b9eb87aa3834a705b892bd2e1d85bb055b7ced594d8512361980dea
          env:
            - name: NEW_RELIC_LICENSE_KEY
              value: "NRJS-5c70f08b45082feb140"
            - name: NEW_RELIC_ACCOUNT_ID
              value: "6862108"
            - name: NEW_RELIC_TRUST_KEY
              value: "6862108"
            - name: NEW_RELIC_APPLICATION_ID
              value: "1120421442"
            - name: NEW_RELIC_AGENT_ID
              value: "1120421442"
