apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-frontend
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - name: traq-frontend
          image: ghcr.io/traptitech/traq-ui:master@sha256:507ed790dcf7014ec728db9ebe371ec5f82509840405d5ea0a5a36aae10c900e
          env:
            - name: NEW_RELIC_LICENSE_KEY
              value: "NRJS-5c70f08b45082feb140"
            - name: NEW_RELIC_ACCOUNT_ID
              value: "6862108"
            - name: NEW_RELIC_TRUST_KEY
              value: "6862108"
            - name: NEW_RELIC_APPLICATION_ID
              value: "1120421442"
            - name: NEW_RELIC_AGENT_ID
              value: "1120421442"
