apiVersion: apps/v1
kind: Deployment
metadata:
  name: traq-frontend
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - name: traq-frontend
          image: ghcr.io/traptitech/traq-ui:master@sha256:ac36ce077562fb1c84902b2ae36da832eb6dbbb6bfe0a3c119ca440a883acb7b
          env:
            - name: NEW_RELIC_LICENSE_KEY
              value: "NRJS-5c70f08b45082feb140"
            - name: NEW_RELIC_ACCOUNT_ID
              value: "6862108"
            - name: NEW_RELIC_TRUST_KEY
              value: "6862108"
            - name: NEW_RELIC_APPLICATION_ID
              value: "1120421442"
            - name: NEW_RELIC_AGENT_ID
              value: "1120421442"
