resources:
  # renovate:github-url
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.12.4/manifests/install.yaml
  - appset-certificate.yaml
  - appset-ingress-route.yaml
  - certificate.yaml
  - ingress-route.yaml

patches:
  # なんかIPv6のNetworkPolicyがぶっ壊れてるので消す
  - path: patches/delete-network-policy.yaml
    target:
      kind: NetworkPolicy
  # 負荷調整のため(一部)podを手動指定して配置
  - path: patches/affinity-deployment.yaml
    target:
      kind: Deployment
  - path: patches/affinity-statefulset.yaml
    target:
      kind: StatefulSet
  # Set resource requests for most demanding pods
  - path: patches/requirements.yaml
  # Normal file-wise patches
  - path: patches/argocd-cm.yaml
  - path: patches/argocd-cmd-params-cm.yaml
  - path: patches/argocd-notifications-cm.yaml
  - path: patches/argocd-rbac-cm.yaml
  - path: patches/argocd-repo-server-ksops.yaml
  - path: patches/argocd-ssh-known-hosts-cm.yaml

generators:
  - ksops.yaml
