apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traq-preview-{{ .Values.number }}

spec:
  entryPoints:
    - websecure
  tls:
    secretName: preview-traq-tls
  routes:
    - kind: Rule
      match: Host(`{{ .Values.number }}-prod.traq-preview.trapti.tech`)
      priority: -100
      middlewares:
        - name: sablier-{{ .Values.number }}
          namespace: preview-traq
      services:
        - namespace: preview-traq
          kind: Service
          name: traq-ui-{{ .Values.number }}
          port: http
          scheme: http
          weight: 1
    - kind: Rule
      match: >-
        Host(`{{ .Values.number }}-prod.traq-preview.trapti.tech`) && (
        PathPrefix(`/api`) ||
        PathPrefix(`/.well-known`)
        )
      priority: -99
      middlewares:
        - name: sablier-{{ .Values.number }}
          namespace: preview-traq
      services:
        - kind: TraefikService
          name: traq-prod@file

    - kind: Rule
      match: Host(`{{ .Values.number }}-dev.traq-preview.trapti.tech`)
      priority: -100
      middlewares:
        - name: sablier-{{ .Values.number }}
          namespace: preview-traq
      services:
        - namespace: preview-traq
          kind: Service
          name: traq-ui-{{ .Values.number }}
          port: http
          scheme: http
          weight: 1
    - kind: Rule
      match: >-
        Host(`{{ .Values.number }}-dev.traq-preview.trapti.tech`) && (
        PathPrefix(`/api`) ||
        PathPrefix(`/.well-known`)
        )
      priority: -99
      middlewares:
        - name: sablier-{{ .Values.number }}
          namespace: preview-traq
      services:
        - kind: TraefikService
          name: traq-dev@file
