apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml
    kompose.version: 1.35.0 (9532ceef3)
  labels:
    io.kompose.service: portal-backend
  name: portal-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: portal-backend
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml
        kompose.version: 1.35.0 (9532ceef3)
      labels:
        io.kompose.service: portal-backend
    spec:
      nodeSelector:
        kubernetes.io/hostname: s512.tokyotech.org
      containers:
        - env:
            - name: DB_DATABASE
              value: service_portal
            - name: DB_HOST
              value: private.kmbk.tokyotech.org
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: service_portal
            - name: GITEA_API_ENDPOINT
              value: http://git.trap.jp/api/v1
            - name: TRAQ_API_ENDPOINT
              value: http://traq-backend.traq.svc.cluster.local:8001/api/v3
            - name: WITH_GITEA
              value: "true"
            - name: WITH_MAIL
              value: "true"
            - name: WITH_TRAQ
              value: "true"
          envFrom:
            - secretRef:
                name: portal-secrets
          image: ghcr.io/traptitech/portal:latest@sha256:7f04fb5f447230e85f4389989c92920911c43117dd51000c6f9cd57a663f23a6
          name: portal
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - mountPath: /app/ec_pub.pem
              name: ec-pub
              readOnly: true
              subPath: ec_pub.pem
            - mountPath: /app/ec.pem
              name: ec-private
              readOnly: true
              subPath: ec.pem
      restartPolicy: Always
      volumes:
        - name: ec-pub
          secret:
            secretName: portal-ec-pub
        - name: ec-private
          secret:
            secretName: portal-ec-private
