apiVersion: apps/v1
kind: Deployment
metadata:
  name: ssl-exporter

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: ssl-exporter
  template:
    metadata:
      labels:
        app: ssl-exporter
    spec:
      enableServiceLinks: false
      nodeSelector:
        kubernetes.io/hostname: libra.tokyotech.org
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - libra.tokyotech.org
              weight: 1
      tolerations:
        - key: monitor-node
          operator: Equal
          value: "true"
          effect: NoSchedule

      containers:
        - name: ssl-exporter
          image: ribbybibby/ssl-exporter:2.4.3
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 9219

          resources:
            requests:
              cpu: "10m"
              memory: "20Mi"
            limits:
              cpu: "100m"
              memory: "50Mi"
