helmCharts:
  - repo: https://argoproj.github.io/argo-helm
    name: argo-workflows
    # renovate:general datasource=helm depName=argo-workflows registryUrl=https://argoproj.github.io/argo-helm
    version: "0.45.24"
    includeCRDs: true
    namespace: argo
    releaseName: argo
    valuesFile: values.yaml
