apiVersion: apps/v1
kind: Deployment
metadata:
  name: rucq-ui

spec:
  template:
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - eee101.tokyotech.org
              weight: 1

      containers:
        - name: rucq-ui
          image: ghcr.io/traptitech/rucq-ui:main@sha256:0fbd3376fed36a81ca8dca47054770c4438ad4bba97e22efb0da0ac46d60746c
