resources:
  # renovate:github-url
  - https://github.com/argoproj/argo-workflows/releases/download/v3.5.1/install.yaml
  - certificate.yaml
  - ingress-route.yaml
  - test-fail-workflow-template.yaml
  - test-success-workflow-template.yaml
  - traq-webhook-workflow-template.yaml

patches:
  # 全てのDeploymentにpatchをかける
  - path: deployment-patch.yaml
    target:
      kind: Deployment
  # Normal file-wise patches
  - path: argo-server.yaml
  - path: workflow-controller-cm.yaml
