mode: single

repo:
  owner: traPtitech
  repo: NeoShowcase

webhook:
  name: ns-preview

tls:
  secretName: preview-ns-tls

host:
  base: ns-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/ns-dashboard:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/neoshowcase.protobuf.APIService`)
  service:
    kind: Service
    namespace: ns-system
    name: ns-gateway
    port: http
    scheme: h2c
    strategy: RoundRobin
    weight: 1

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/ns-dashboard:main@sha256:5cc2477cb6b40e9e9bbda63627b618d2b75108c4a58d3ae83b7392b9297ae961"

otherParameters:
  port: 80
