mode: single

repo:
  owner: traPtitech
  repo: NeoShowcase

webhook:
  name: ns-preview

tls:
  secretName: preview-ns-tls

host:
  base: ns-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/ns-dashboard:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/neoshowcase.protobuf.APIService`)
  service:
    kind: Service
    namespace: ns-system
    name: ns-gateway
    port: http
    scheme: h2c
    weight: 1

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/ns-dashboard:main@sha256:e36cd7fbd6f1717b3c2bbfd12b1a8c518f4c656a9f21ef63b65a4a73528db5bd"

otherParameters:
  port: 80
