apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: traq-dev-widget

spec:
  entryPoints:
    - websecure
  tls:
    secretName: traq-dev-tls
  routes:
    - kind: Rule
      match: Host(`q-dev.trapti.tech`) && PathPrefix(`/widget`)
      priority: -98
      middlewares:
        - name: auth-trapti-tech-soft
          namespace: auth
        - name: strip-widget-prefix
          namespace: traq-dev
      services:
        - namespace: traq-dev
          kind: Service
          name: traq-dev-widget
          port: 8003
          scheme: http
          weight: 1
