mode: dev-and-prod

repo:
  owner: traPtitech
  repo: traPortfolio-UI

webhook:
  name: portfolio-preview

tls:
  secretName: preview-portfolio-ui-tls

host:
  base: portfolio-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/traportfolio-ui:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/api`)
  service:
    kind: TraefikService
    name: "portfolio-ui-{{ . }}@file"

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/traportfolio-ui:main@sha256:f1988e2d6dee6efe03a216a02b3af40aac6efc2bf33694c21f666526433520a3"

otherParameters:
  port: 80
