mode: dev-and-prod

repo:
  owner: traPtitech
  repo: traPortfolio-UI

webhook:
  name: portfolio-preview

tls:
  secretName: preview-portfolio-ui-tls

host:
  base: portfolio-preview.trapti.tech

preview:
  imagePattern: "ghcr.io/traptitech/traportfolio-ui:preview-{{number}}-{{head_sha}}"

backend:
  matcher: PathPrefix(`/api`)
  service:
    kind: TraefikService
    name: "portfolio-ui-{{ . }}@file"

staging:
  enabled: true
  # renovate:image-full
  image: "ghcr.io/traptitech/traportfolio-ui:main@sha256:c5b9c163864f2ea9963fdcb7ffb4b6395f69164b1b8a2b85ad8589dcfa9faa7c"

otherParameters:
  port: 80
