port: 10000
debug: false
privateKeyFile: /keys/id_ed25519
adminerURL: https://adminer.ns.trap.jp/
mode: k8s

k8s:
  dualStack: true
  domains:
    - domain: "trap.show"
      auth:
        available: true
        soft:
          - name: auth-trap-show-soft
            namespace: auth
        hard:
          - name: auth-trap-show-hard
            namespace: auth
    - domain: "*.trap.show"
      excludes:
        - "auth.trap.show"
      auth:
        available: true
        soft:
          - name: auth-trap-show-soft
            namespace: auth
        hard:
          - name: auth-trap-show-hard
            namespace: auth
    - domain: "*.trap.games"
      excludes:
        - "auth.trap.games"
      auth:
        available: true
        soft:
          - name: auth-trap-games-soft
            namespace: auth
        hard:
          - name: auth-trap-games-hard
            namespace: auth
  ports:
    - startPort: 39000
      endPort: 39999
      protocol: tcp
    - startPort: 39000
      endPort: 39999
      protocol: udp
  ss:
    namespace: ns-system
    kind: Service
    name: ns-ssgen
    port: 80
    scheme: http
  namespace: ns-apps
  labels: []
  tls:
    type: cert-manager
    certManager:
      issuer:
        kind: ClusterIssuer
        name: cluster-issuer
      wildcard:
        domains:
          - "*.trap.show"
          - "*.trap.games"
  imagePullSecret: ns-image-pull-secret
  scheduling:
    nodeSelector:
      - key: ns.trap.jp/worker
        value: "true"
    tolerations:
      - key: ns.trap.jp/worker
        operator: Exists
        effect: NoSchedule

ssh:
  host: ns.trap.jp
  port: 2201

webhook:
  basePath: /api/webhook
  port: 8080

db:
  host: private.kmbk.tokyotech.org
  port: 3306
  username: service_neoshowcase
  # password: <env secret>
  database: service_neoshowcase

storage:
  type: s3
  s3:
    bucket: neoshowcase
    # accessKey: <env secret>
    # accessSecret: <env secret>
    region: ap-northeast-1
    endpoint: https://s3.ap-northeast-1.wasabisys.com

image:
  registry:
    scheme: https
    addr: registry.ns.trap.jp
    username: registry
    # password: <env secret>
  namePrefix: ns-apps/
