port: 8080
debug: false
privateKeyFile: /keys/id_ed25519
avatarBaseURL: https://q.trap.jp/api/v3/public/icon/
authHeader: X-Forwarded-User

controller:
  url: http://ns-controller.ns-system.svc.cluster.local:10000

db:
  host: private.kmbk.tokyotech.org
  port: 3306
  username: service_neoshowcase
  # password: <env secret>
  database: service_neoshowcase

mariadb:
  host: mariadb.ns-system.svc.cluster.local
  port: 3306
  adminUser: root
  # adminPassword: <env secret>

mongodb:
  host: mongo.ns-system.svc.cluster.local
  port: 27017
  adminUser: root
  # adminPassword: <env secret>

storage:
  type: s3
  s3:
    bucket: neoshowcase
    # accessKey: <env secret>
    # accessSecret: <env secret>
    region: ap-northeast-1
    endpoint: https://s3.ap-northeast-1.wasabisys.com

log:
  type: loki
  loki:
    endpoint: http://loki.monitor.svc.cluster.local:3100
    appIDLabel: ns_trap_jp_app_id
