privateKeyFile: /keys/id_ed25519
adminerURL: https://adminer.ns.trap.jp/

db:
  host: private.kmbk.tokyotech.org
  port: 3306
  username: service_neoshowcase
  # password: <env secret>
  database: service_neoshowcase

storage:
  type: s3
  s3:
    bucket: neoshowcase
    # accessKey: <env secret>
    # accessSecret: <env secret>
    region: ap-northeast-1
    endpoint: https://s3.ap-northeast-1.wasabisys.com

image:
  registry:
    scheme: https
    addr: registry.ns.trap.jp
    username: "robot$neoshowcase"
    # password: <env secret>
  namePrefix: ns-apps/
  tmpNamePrefix: ns-apps-tmp/

components:
  builder:
    buildkit:
      address: unix:///run/buildkit/buildkitd.sock
    buildpack:
      helper:
        address: http://localhost:1235
        listenPort: 1235
      remoteDir: /workspace
      platformAPI: "0.11"
    controller:
      url: http://ns-controller.ns-system.svc.cluster.local:10000
    priority: 0

  controller:
    port: 10000
    # token: <env secret>
    mode: k8s
    k8s:
      dualStack: true
      domains:
        - domain: "trap.show"
          auth:
            available: true
            soft:
              - name: auth-trap-show-soft
                namespace: auth
            hard:
              - name: auth-trap-show-hard
                namespace: auth
        - domain: "*.trap.show"
          excludes:
            - "auth.trap.show"
          auth:
            available: true
            soft:
              - name: auth-trap-show-soft
                namespace: auth
            hard:
              - name: auth-trap-show-hard
                namespace: auth
        - domain: "*.trap.games"
          excludes:
            - "auth.trap.games"
          auth:
            available: true
            soft:
              - name: auth-trap-games-soft
                namespace: auth
            hard:
              - name: auth-trap-games-hard
                namespace: auth
        # For specific apps
        - domain: "hyakkiyagyo.trap.jp"
          auth:
            available: true
            soft:
              - name: auth-trap-jp-soft
                namespace: auth
            hard:
              - name: auth-trap-jp-hard
                namespace: auth
        - domain: "bot-console.trap.jp"
          auth:
            available: true
            soft:
              - name: auth-trap-jp-soft
                namespace: auth
            hard:
              - name: auth-trap-jp-hard
                namespace: auth
      ports:
        - startPort: 39000
          endPort: 39999
          protocol: tcp
        - startPort: 39000
          endPort: 39999
          protocol: udp
      ss:
        namespace: ns-system
        kind: Service
        name: ns-ssgen
        port: 80
        scheme: http
      namespace: ns-apps
      labels: []
      tls:
        type: cert-manager
        certManager:
          issuer:
            kind: ClusterIssuer
            name: cluster-issuer
          wildcard:
            domains:
              - "*.trap.show"
              - "*.trap.games"
      imagePullSecret: ns-image-pull-secret
      scheduling:
        nodeSelector:
          - key: ns.trap.jp/worker
            value: "true"
        tolerations:
          - key: ns.trap.jp/worker
            operator: Exists
            effect: NoSchedule
        spreadConstraints:
          - maxSkew: 1
            topologyKey: kubernetes.io/hostname
            whenUnsatisfiable: DoNotSchedule
            labelSelector:
              matchLabels:
                - key: ns.trap.jp/managed
                  value: "true"
            nodeAffinityPolicy: Honor
            # Node Taint を Honor して、より少数のノードに Pod が過集中すると危険なので、
            # Taint に関わらず Affinity がマッチするノードを常に計算に入れる
            nodeTaintsPolicy: Ignore
      resources:
        requests:
          cpu: "10m"
          memory: "20Mi"
        limits:
          cpu: "1"
          memory: "100Mi"
    ssh:
      host: ns.trap.jp
      port: 2201
    webhook:
      basePath: /api/webhook
      port: 8080

  gateway:
    port: 8080
    avatarBaseURL: https://q.trap.jp/api/v3/public/icon/
    authHeader: X-Forwarded-User
    controller:
      url: http://ns-controller.ns-system.svc.cluster.local:10000
    mariadb:
      host: mariadb.ns-system.svc.cluster.local
      port: 3306
      adminUser: root
      # adminPassword: <env secret>
    mongodb:
      host: mongo.ns-system.svc.cluster.local
      port: 27017
      adminUser: root
      # adminPassword: <env secret>
    log:
      type: loki
      loki:
        endpoint: http://loki.monitor.svc.cluster.local:3100
        queryTemplate: "{namespace=\"ns-apps\",pod=\"nsapp-{{ .App.ID }}-0\"}"
    metrics:
      type: prometheus
      prometheus:
        endpoint: http://victoria-metrics.monitor.svc.cluster.local
        queries:
          - name: CPU
            template: >-
              rate(container_cpu_user_seconds_total{namespace="ns-apps", pod="nsapp-{{ .App.ID }}-0", container="app"}[5m])
               + rate(container_cpu_system_seconds_total{namespace="ns-apps", pod="nsapp-{{ .App.ID }}-0", container="app"}[5m])
          - name: Memory
            template: >-
              container_memory_usage_bytes{namespace="ns-apps", pod="nsapp-{{ .App.ID }}-0", container="app"}
               + container_memory_swap{namespace="ns-apps", pod="nsapp-{{ .App.ID }}-0", container="app"}

  giteaIntegration:
    url: https://git.trap.jp
    # token: <env secret>
    controller:
      url: http://ns-controller.ns-system.svc.cluster.local:10000

  ssgen:
    artifactsRoot: /artifacts
    healthPort: 8081
    server:
      type: caddy
      caddy:
        adminAPI: http://localhost:2019
        docsRoot: /artifacts
    controller:
      url: http://ns-controller.ns-system.svc.cluster.local:10000
