resources:
  - cluster-role.yaml
  - cluster-role-binding.yaml
  - service.yaml
  - service-account.yaml
  - stateful-set.yaml
  - tailscale-role.yaml
  - tailscale-role-binding.yaml

configMapGenerator:
  - name: prometheus-config
    files:
      - config/prometheus.yml

generators:
  - ksops.yaml
